/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav.sticky{
  background: #4070f4;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}
nav.sticky .navbar .logo a{
  color: #fff;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #4070f4;
}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navbar .media-icons a{
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* BACKGROUND CAROUSEL */
.bg-carousel {
    position: absolute;
    inset: 0;
    z-index: -1;

    background-size: cover;
    background-position: center;
    animation: carousel 15s infinite;
    animation: carousel 15s infinite;
    transition: background-image 1s ease-in-out;
}

/* FADE CAROUSEL ANIMATION */
@keyframes carousel {
    0%   { background-image: url('../Images/ai.jpg'); }
    33%  { background-image: url('../Images/AIBG.jpg!w700wp'); }
    66%  { background-image: url('../Images/jupiter.png'); }
    100% { background-image: url('../Images/neonbg.jpg'); }
}


  
  .home .home-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .home .text-one {
    font-size: 45px;
    color: #eff5f8;
    margin-bottom: 5px;
  }
  
  /* Keyframes for letter highlight animation */
@keyframes highlightLetter {
  10% {
    background-color: rgb(221, 23, 228);
    color: #171818;
  }
  50% {
    background-color: rgb(16, 224, 231);
    color: black;
  }
  100% {
    background-color: transparent;
    color: #0c0c0c;
  }
}

/* Apply the animation to each span inside .text-two */
.home .text-two span {
  display: inline-block;
  animation: highlightLetter 1s infinite;
  animation-delay: calc(var(--i) * 0.7s);
  font-size: 70px;
  margin-bottom:  5px;
}
  
  /* Add this to your existing CSS file */

/* Keyframes for text highlight animation */
@keyframes highlightText {
  10% {
    background-color: transparent;
    color: #ee40f4;
  }
  50% {
    background-color: rgb(231, 145, 15);
    color: black;
  }
  100% {
    background-color: transparent;
    color: #40f4f4;
  }
}

/* Apply the animation to the .text-three class */
.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
  display: inline;
  animation: highlightText 9s infinite;
  margin-bottom:  5px;
}
  .home .text-four {
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
  }
  
  .home .button {
    margin: 14px 0;
  }
  
  .home .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
  }
  
  .home .button button:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
  }

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
  animation: fadeIn 1s ease-in-out;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.subtitle{
display: flex;
justify-content: center;
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

 /* My Skills CSS */
 .skills{
   background: #F0F8FF;
 }
 .skills .content{
   padding: 40px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .skills-details .text{
   width: 50%;
 }
 .skills-details p{
   color: #0E2431;
   text-align: justify;
 }
.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.skills-details .boxes .topic{
  font-size: 20px;
  color: #4070f4;
}
.skills-details .boxes .per{
  font-size: 60px;
  color: #4070f4;
}

/* My Services CSS */
.services{
  background: #E6E6FA;
}
.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}
.services .boxes .box:hover{
  background: #4070f4;
  color: #fff;
}
.services .boxes .box .icon{
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
  flex-direction: column;
}
.boxes .box:hover .icon{
  background-color: #fff;
  color: #4070f4;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #fff;
}
/* Ensure the boxes are displayed side by side */
/* Ensure the boxes are displayed side by side */
/* Ensure the boxes are displayed side by side */
.boxed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxer {
  flex: 1 1 calc(25% - 20px); /* Adjust the width of each box */
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxer .topics-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px; /* Add margin to separate from the next element */
}

.boxer .topics {
  font-size: 20px;
  color: #121213;
  margin-right: 10px; /* Add margin to separate from the icon */
}

.boxer .per {
  font-size: 60px;
  color: #131414;
  margin-bottom: 10px; /* Add margin to separate from the next element */
}

.boxer .icons {
  font-size: 40px;
  color: #0f81df;
}

.boxer:hover {
  background: #12e663;
  color: #fff;
}

.boxer:hover .icons {
  color: #fff;
}

.boxer:hover .topics,
.boxer:hover .per {
  color: #fff;
}
/* Contact Me CSS */
.contact{
  background: #F0F8FF;
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}

/* Footer CSS */
footer{
  background: #2ec2e7;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}
/* Normal Button Styling */
.chat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #4070f4;
  border: none;
  border-radius: 6px; /* Adjust the border-radius for a rectangular shape */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0 auto; /* Center the button horizontally */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.chat-button i {
  margin-right: 10px;
  font-size: 20px;
}

.chat-button:hover {
  background-color: #3050c4;
  transform: scale(1.05);
}

/* Center the button container */
.contact .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the container takes full width */
  padding: 20px 0; /* Add padding to the container */
}

.chat-button::after {
  width: 40px;
  height: 40px;
  top: -20px;
  right: 10px;
}

.chat-button:hover::before,
.chat-button:hover::after {
  background-color: #3050c4;
}

/* Center the button container */
.contact .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the container takes full width */
  padding: 20px 0; /* Add padding to the container */
}
.contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Increased gap for more space */
}
.contact-title span {
  align-self: flex-start;
  margin-bottom: 20px;
  margin-top: 1px;
}
.contact-socials-inline {
  display: flex;
  gap: 19px;
  margin-bottom: 20px;
}

.contact-socials-inline a {
  color: #4070f4;
  font-size: 28px;
  transition: color 0.3s;
}

.contact-socials-inline a:hover {
  color: #3050c4;
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}
.contributions-title {
  font-size: 24px;
  font-weight: 600;
  color: #0E2431;
  margin-bottom: 10px;

  display: flex;           /* enables flex layout */
  justify-content: center; /* centers content horizontally */
  align-items: center;     /* centers icon vertically with text */
  gap: 6px;                /* spacing between text and icon */
}

.contributions-title a i {
  font-size: 70px; /* only changes the icon size */
  color: #4070f4;
  transition: 0.3s;
}

.contributions-title a i:hover {
  color: #0E2431;
  transform: scale(1.1); /* optional hover effect */
}



